<script>
window.onload = function() {

    // Build a system
    const ui = SwaggerUIBundle(
    Object.assign(
    {

    
    url: "/api/v1/apispec.json",
    
    dom_id: '#swagger-ui',
    validatorUrl: null,
    displayOperationId: true,
    deepLinking: true,
    jsonEditor: true,
    
    apisSorter: "alpha",
    presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
    ],
    plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
    ],
    
    layout: "StandaloneLayout",
    
    },
    {}
    
    )
    
    )

    // auth_config se establece como objeto vacío en lugar de None
    let auth_config = {};

    ui.initOAuth(auth_config);

    window.ui = ui

    $(".topbar-wrapper .link span").replaceWith("<span>Flasgger</span>");
}
</script>
